.nav-menu{
    position: fixed;
    left: -100%;
    top: 65px;
    height: 90vh;
    transition: .3s;
    z-index: 30;
}
.nav-menu.active{
    left: 0;
    background-color: green;
}
.category{
    margin-left: 10px;
   padding: 5px;
}
